* text=auto
.gitattributes text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.ipynb text eol=lf
*.txt text eol=lf
*.png binary
*.pdf binary
*.gz binary
data/**/*.bin filter=lfs diff=lfs merge=lfs -text
